[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]serSettings/
.vs/
.vscode/
*.csproj
*.sln
*.slnx
*.user
*.userprefs
*.pidb
*.suo
*.tmp
*.unitypackage
*.apk
*.aab
*.ipa
crashlytics-build.properties
